attrs==23.1.0
Authlib==1.2.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clickclick==20.10.2
connexion==2.14.2
coverage==7.5.1
cryptography==41.0.7
dnspython==2.4.2
email-validator==2.1.0.post1
Flask==2.2.5
flask-mongoengine==1.0.0
Flask-Testing==0.8.1
flask-wtf==1.2.1
gunicorn==20.1.0
idna==3.6
importlib-metadata==7.0.0
importlib-resources==5.13.0
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
MarkupSafe==2.1.3
mongoengine==0.27.0
packaging==23.2
pkgutil-resolve-name==1.3.10
pycparser==2.21
PyJWT==2.8.0
pymongo==4.6.1
python-dateutil==2.9.0
PyYAML==6.0.1
referencing==0.32.0
requests==2.31.0
rpds-py==0.13.2
six==1.16.0
swagger-ui-bundle==0.0.9
urllib3==2.1.0
Werkzeug==2.2.3
wtforms==3.1.1
zipp==3.17.0
